<section class="page-section bg"
    style="padding:5rem; background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);">
    <div class="container">
        <br><br>
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0 font-weight-bold">Blog</h2>
                <hr class="divider light my-4" />
                <p class="text-white-50 mb-10">Revisa nuestro blog</p>
            </div>
        </div>
    </div>
</section>


<div style="background: linear-gradient(45deg,  hsla(0, 0%, 100%, 1) 20%, rgba(128, 241, 193, 0.548) 100%);">
    <br>
    <br>
    <br>
    <div class="row justify-content-center ">
        <div class="col-md-12 offset-lg-1 col-lg-4 col-sm-12">
            <div class="list-group ">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Some placeholder content in a paragraph.</p>
                    <small>And some small print.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Some placeholder content in a paragraph.</p>
                    <small class="text-muted">And some muted small print.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Some placeholder content in a paragraph.</p>
                    <small class="text-muted">And some muted small print.</small>
                </a>
            </div>
        </div>
        <div class="col">
            <div  class="d-flex main justify-content-center align-items-center" style="background: transparent">
                <section class="blog_area  section-padding " >
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="card blog_left_sidebar media blog-media">
                                    <article class="blog_item">
                                        <br><br>
                                        <div class="blog_item_img imagen">
                                            <img class="d-flex card-img rounded-0" src="./assets/img/faces/joe-gardner-2.jpg"
                                                alt="">
                                            <a href="#" class="blog_item_date">
                                                <h3>15</h3>
                                                <p>Jan</p>
                                            </a>
                                        </div>
                                        <div class="card-body blog_details bg">
                                            <a class="d-inline-block">
                                                <h2>ngjgj</h2>
                                            </a>
                                            <p>jhgjj</p>
                                        </div>
                                    </article>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div  class="d-flex main justify-content-center align-items-center" style="background: transparent">
                <section class="blog_area  section-padding " >
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="card blog_left_sidebar media blog-media">
                                    <article class="blog_item">
                                        <br><br>
                                        <div class="blog_item_img imagen">
                                            <img class="d-flex card-img rounded-0" src="./assets/img/faces/joe-gardner-2.jpg"
                                                alt="">
                                            <a href="#" class="blog_item_date">
                                                <h3>15</h3>
                                                <p>Jan</p>
                                            </a>
                                        </div>
                                        <div class="card-body blog_details bg">
                                            <a class="d-inline-block">
                                                <h2>ngjgj</h2>
                                            </a>
                                            <p>jhgjj</p>
                                        </div>
                                    </article>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="container" style="padding-bottom: 10rem;">
                <div class="row">
                    <div class="col-md-12 col-lg-8 offset-lg-2 col-sm-12">
                        <div class="card ">
                            <article class="blog_item">
                                <br><br>
                                <div class="blog_item_img imagen">
                                    <img class="card-img rounded-0" src="./assets/img/2.jpg" alt="">
                                    <a href="#" class="blog_item_date">
                                        <h3>15</h3>
                                        <p>Jan</p>
                                    </a>
                                </div>
                                <div class="card-body blog_details bg">
                                    <a class="d-inline-block">
                                        <h2>asdfghjwertyusdfgh</h2>
                                    </a>
                                    <p>xcvbnfgh</p>
                                </div>
                            </article>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
</div>





