<p-confirmDialog [style]="{ width: '50vw' }" appendToBody="true"></p-confirmDialog>


<br>
<br>

<div class="card" style="padding-top: 5%;">
  <div class="card-body">
    <h3 class="card-title" style="text-align: center;">Administrador de Patrocinadores</h3>
    <button type="button" class="btn btn-outline-primary col-md-4 offset-md-4" (click)="modalCrear()">Agregar
      nuevo</button>
    <br><br>
    <table class="table">

      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sp of sponsors;  index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{sp.name}}</td>
          <td>{{sp.description}}
          <td>
            <button type="button" class="btn btn-outline-primary" (click)="getsponsor(sp.id)" pTooltip="Modificar"
              tooltipPosition="left">
              <mat-icon style="color:rgba(29, 29, 189, 0.938)">create</mat-icon>
            </button>
            <button type="button" class="btn btn-outline-danger" (click)="deleteSponsor(sp.id)" pTooltip="Eliminar">
              <mat-icon style="color:rgb(206, 22, 22)">delete</mat-icon>
            </button>
          </td>
          <!-- <td>
                  <button type="button"   class="btn btn-outline-danger" (click)="getIdEliminar(sp.id)">
                    <mat-icon style="color:rgb(206, 22, 22)">delete</mat-icon>
                  </button>
                </td> -->
        </tr>

      </tbody>
    </table>

    <nav aria-label="..." class="row justify-content-md-center">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Anterior</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Siguiente</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!-- Modal Editar -->
<p-dialog header="Modificar Sponsor" [(visible)]="displayResponsiveModificar" [breakpoints]="{'960px': '75vw'}"
  [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false" [modal]="true"
  *ngIf="sponsorseleccionado">
  <form [formGroup]="modifSponsor">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" [(ngModel)]="sponsorseleccionado.name" formControlName="name" class="form-control"
        [ngClass]="{ 'is-invalid': submitted &amp;&amp; modifSponsor.controls.name.errors }" />
      <div *ngIf="submitted &amp;&amp; modifSponsor.controls.name.errors" class="text-danger">
        <div *ngIf="modifSponsor.controls.name.errors.required">Nombre es requerido</div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Descripción</label>
      <input type="text" [(ngModel)]="sponsorseleccionado.description" formControlName="description"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted &amp;&amp; modifSponsor.controls.description.errors }" />
      <div *ngIf="submitted &amp;&amp; modifSponsor.controls.description.errors" class="text-danger">
        <div *ngIf="modifSponsor.controls.description.errors.required">Descripción es requerida</div>
      </div>
    </div>

  </form>
  <ng-template pTemplate="footer">
    <div class="centro">
      <button class="btn btn-primary" (click)="modificarsponsor()">Modificar</button>
      <!-- <button class="btn btn-primary">Modificar</button> -->
    </div>
  </ng-template>
</p-dialog>

<!-- Modal Crear Álbum -->
<p-dialog header="Registrar Sponsor" [(visible)]="displayResponsiveCrear" [breakpoints]="{'960px': '75vw'}"
  [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false" [modal]="true">
  <form [formGroup]="registerSponsor" (ngSubmit)="crearSponsor()">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" formControlName="name" class="form-control"
        [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerSponsor.controls.name.errors }" />
      <div *ngIf="submitted &amp;&amp; registerSponsor.controls.name.errors" class="text-danger">
        <div *ngIf="registerSponsor.controls.name.errors.required">Título es requerido</div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Descripción</label>
      <input type="text" formControlName="description" class="form-control"
        [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerSponsor.controls.description.errors }" />
      <div *ngIf="submitted &amp;&amp; registerSponsor.controls.description.errors" class="text-danger">
        <div *ngIf="registerSponsor.controls.description.errors.required">Descripción es requerido</div>
      </div>
    </div>

    <div class="form-group">
      <label for="description">Imagen</label>
      <input type="file" class="form-control" name="image" id="image" (change)="foto($event)">
    </div>

    <div class="centro">
      <button class="btn btn-primary">Crear</button>
    </div>
  </form>
</p-dialog>