

.group-1,
.group-2 {
  border-radius: 5px;
  margin-bottom: 20px;
}

.group-1 img,
.group-2 img {
  cursor: pointer;
  width: 360px;
  height: 300px;
  padding: 0px;
  margin: 2px;
  border-radius: 10px;
  border-width: 3px;
  border: black;
  border-style: solid;
}
